@model PaginatedList<Chinook.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ClienteId
            </th>
            <th>
                FechaFactura
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FacturaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FacturaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FacturaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : " ";
    var nextDisabled = !Model.HasNextPage ? "disabled" : " ";
}


<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex -1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previo
</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex +1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>
