@model PaginatedList<Chinook.Models.DetalleFactura>

@{
    ViewData["Title"] = "Detalles";
}

<h1>@Html.ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Factura N°
            </th>
            <th>
                Canción
            </th>
            <th>
                Precio Unitario
            </th>
            <th>
                Cantidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Facturas.FacturaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCanc.CancionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DetFacturaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DetFacturaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DetFacturaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : " ";
    var nextDisabled = !Model.HasNextPage ? "disabled" : " ";
}


<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex -1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previo
</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex +1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>